@mixin bp($point) {
  @if $point == desktop {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == phablet {
    @media (max-width: 768) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 400px)  { @content; }
  }
}
$main: 4px;
$m-spacing: 2*$main;
body {
  display: block;
  font-family: Arial;
  text-size: 2.5*$main;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  @include bp(phone) {
    flex-direction: column;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
}
aside {
  padding: 0 7*$main;
}
img {
  width: 38*$main;
  height: 38*$main;
}
header, main {
  margin: $m-spacing;
}
footer {
  position: absolute;
  bottom: 0;
  p {
    padding: 0 $m-spacing;
  }
}
a {
  color: white;
  margin: $m-spacing 0;
}
